# Configuración de PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=world_db
POSTGRES_PORT=5435

# Configuración de pgAdmin 4
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=Admin12345!
PGADMIN_PORT=8083
